{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R . K . A . B</title>
    <link rel="stylesheet" "type=text/css" href="{% static 'rk/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'rk/css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'rk/fonts/icomoon/style.css' %}">

    <!--[if lt IE 9]>
      <script src="{% static 'rk/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'rk/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>


    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" >HOME</a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="features">This website is created by Raj Krishna </a></li>

          </ul>
        </div>
      </div>

    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image:url({% static 'rk/img/image_1.jpg'%});" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">R . K . A . B</h1>
            <div class="probootstrap-subheading center">
              <p class="probootstrap-animate"><a href="http://127.0.0.1:8000/index/GET_STARTED/"  role="button" class="btn btn-primary">Get Started</a><a href="http://127.0.0.1:8000/index/selection/index/selection" class="btn btn-default smoothscroll" role="button">Login</a></p>
            </div>
            <div class="probootstrap-subheading center">
              <p class="probootstrap-animate"><a href="http://127.0.0.1:8000/index/contactus/"  role="button" class="btn btn-primary">Contact Us</a><a href="http://127.0.0.1:8000/index/reviews" class="btn btn-default smoothscroll" role="button">Reviews</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <span class="icon icon-profile-male"></span>
              <h2>See Results</h2>
              <p>just see your progress by loging in with student account .</p>
              <p><a href="#" class="probootstrap-link">Login to see <i class="icon-chevron-right"></i></a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <span class="icon icon-notebook"></span>
              <h2>Upload Class Result</h2>
              <p>A Upload your class result in a very easy and quick manner .</p>
              <p><a href="http://127.0.0.1:8000/index/teacher_login" class="probootstrap-link">Get Started <i class="icon-chevron-right"></i></a></p>
              <p> already a memeber then lets start</p>
              <p><a href="http://127.0.0.1:8000/index/teacher_signin/index/teacher_signin/" class="probootstrap-link">Get Started <i class="icon-chevron-right"></i></a></p>

            </div>
          </div>
          <div class="col-md-4">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <span class="icon icon-lightbulb"></span>
              <h2>Add Your School</h2>
              <p>Not a member till now don't worry we provide Free membership and services . </p>
              <p><a href="http://127.0.0.1:8000/index/school_login" class="probootstrap-link">Get Started <i class="icon-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="probootstrap-section probootstrap-bg-light" id="features" data-section="features">
      <div class="container">
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">Features</h2>

          </div>
        </div>
        <!-- END row -->
        <div class="row mb100">
          <div class="col-md-8 col-md-pull-2 probootstrap-animate">
            <p><img src="{% static 'rk/img/laptop_1.jpg'%}" alt="Free Template by uicookies.com" class="img-responsive probootstrap-shadow"></p>
          </div>
          <div class="col-md-4 col-md-pull-1 probootstrap-section-heading">
            <h3 class="text-primary probootstrap-heading-2">Best For Every School</h3>
            <p><p>This is best website to genrate results freely,even with most beauty.</p></p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">Easy to understand .</li>
              <li class="probootstrap-check">Faster .</li>
              <li class="probootstrap-check">Interactive UI</li>
            </ul>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb100">
          <!-- <div class="col-md-8 col-md-pull-2"> -->
          <div class="col-md-8 col-md-push-5 probootstrap-animate">
            <p><img src="{% static 'rk/img/img_showcase_2.jpg'%}" alt="Free Template by uicookies.com" class="img-responsive probootstrap-shadow"></p>
          </div>
          <!-- <div class="col-md-4 col-md-pull-1"> -->
          <div class="col-md-4 col-md-pull-8 probootstrap-section-heading">
            <h3 class="text-primary probootstrap-heading-2">Perfect Comparision</h3>
            <p><p>Here you can compare select toppers and analyze class wise subject wise result.</p></p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">In class comparison</li>
              <li class="probootstrap-check">Class wise comparision</li>
              <li class="probootstrap-check">Accademic comparision</li>
            </ul>
          </div>
        </div>
        <!-- END row -->

        <div class="row mb100">
          <div class="col-md-8 col-md-pull-2 probootstrap-animate">
            <p><img src="{% static 'rk/img/laptop_1.jpg'%}" alt="Free Template by uicookies.com" class="img-responsive probootstrap-shadow"></p>
          </div>
          <div class="col-md-4 col-md-pull-1 probootstrap-section-heading">
            <h3 class="text-primary probootstrap-heading-2">All in One Place</h3>
            <p><p>Every type of Veiwing is possible now it doesn't matter how you want to see your data.</p></p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">Graphs. </li>
              <li class="probootstrap-check">Normal. Veiws.</li>
              <li class="probootstrap-check">With cca option enabled</li>
            </ul>
          </div>
        </div>
        <!-- END row -->
        <div class="row text-center mb100">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb30 text-black probootstrap-heading">About US</h2>

          </div>
        </div>
        <div class="row mb100">
          <div class="col-md-8 col-md-pull-2 probootstrap-animate">
            <p><img src="{% static 'rk/img/img_showcase_1.jpg'%}" alt="Free Template by uicookies.com" class="img-responsive probootstrap-shadow"></p>
          </div>
          <div class="col-md-4 col-md-pull-1 probootstrap-section-heading">
            <h3 class="text-primary probootstrap-heading-2">RAJ KRISHNA</h3>
            <p><p>I am Raj Krishna right now a student of class 12 Kendriya vidayalaya Bailey road patna 14 </p></p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">this website is for my cs project </li>
              <li class="probootstrap-check">also availiable at git hub </li>
              <li class="probootstrap-check">A complete implimentationed project of 4 year classes at the same school</li>
              <li class="probootstrap-check">this brilliant idea </li>


            </ul>
          </div>
        </div>

        <div class="row mb100">
          <!-- <div class="col-md-8 col-md-pull-2"> -->
          <div class="col-md-8 col-md-push-5 probootstrap-animate">
            <p><img src="{% static 'rk/img/img_showcase_2.jpg'%}" alt="Free Template by uicookies.com" class="img-responsive probootstrap-shadow"></p>
          </div>
          <!-- <div class="col-md-4 col-md-pull-1"> -->
          <div class="col-md-4 col-md-pull-8 probootstrap-section-heading">
            <h3 class="text-primary probootstrap-heading-2">School in Detail</h3>
            <p><p>this website is equipped with analytical qbjectives <p></p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">In class comparison</li>
              <li class="probootstrap-check">Class wise comparision</li>
              <li class="probootstrap-check">Accademic comparision</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <script src="{% static 'rk/js/scripts.min.js'%}"></script>
    <script src="{% static 'rk/js/custom.js' %}"></script>

  </body>
</html>
