{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>R . K . A . B</title>
    <link rel="stylesheet" "type=text/css" href="{% static 'rk/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'rk/css/style.min.css'%}">
    <link rel="stylesheet" href="{% static 'rk/fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'rk/fonts3/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
    <link rel="stylesheet" href="{% static 'rk/css4/style.css'%}">
    <link href="{% static 'rk/css1/style.css'%}"  rel="stylesheet"  type="text/css" >
    <link href="{% static 'rk/css1/style2.css' %}"  rel="stylesheet"  type="text/css" >

    <!--[if lt IE 9]>
      <script src="{% static 'rk/js/vendor/html5shiv.min.js' %} "></script>
      <script src="{% static 'rk/js/vendor/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default probootstrap-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://localhost:8000/index/" >RAJ</a>

        </div>

        <div id="navbar-collapse" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <li><a href="#" data-nav-section="features">This website is created by Raj Krishna</a></li>

          </ul>
        </div>
      </div>

    </nav>

    <section class="probootstrap-hero prohttp://localhost/probootstrap/frame/#featuresbootstrap-slant" style="background-image:url({% static 'rk/img/image_1.jpg'%});" data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row intro-text">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h1 class="probootstrap-heading probootstrap-animate">R . K . A . B<br >SIGN UP</h1>
  		<div class="login-form">
				<form  action="database_updater/" method="GET" class="probootstrap-heading probootstrap-animate">
    			{%csrf_token%}
          {%if raw2%}

            <select class="form-control" name='sn'>
              {%for i in raw2%}
              <option>{{i.School_Name}}</option>

          {%endfor%}
  {%endif%}
					<input type="text"  name="name" placeholder="Full Name" required="" >
					<input type="text"  name="fn" placeholder="Father Name" required="" >
					<input type="text"  name="mn" placeholder="Mother Name" required="" >
					<input type="email"  name="Email" placeholder="Email" required="" >
					<div class="left-w3-agile">
						<select class="form-control" name='stan'>
							<option>Class</option>
							<option>I</option>
							<option>II</option>
							<option>III</option>
							<option>IV</option>
							<option>V</option>
 							<option>VI</option>
							<option>VII</option>
							<option>VIII</option>
							<option>IX</option>
							<option>X</option>
							<option>XI</option>
							<option>XII</option>
						</select>
            <select class="form-control" name='city'>
              <option>Andhra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option> Chhattisgarh</option>
              <option>Goa</option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jammu and Kashmir</option>
              <option>Jharkhand</option>
              <option>Karnataka </option>
              <option>Kerala</option>
              <option>Madhya Pradesh</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Odisha</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim </option>
              <option>Tamil Nadu</option>
              <option>Telangana</option>
              <option>Tripura</option>
              <option>Uttar Pradesh</option>
              <option>Uttarakhand</option>
              <option>Uttarakhand</option>
            </select>
					</div>
					<div class="right-agileits">
            <select class="form-control" name='sec'>
							<option>section</option>
               <option>A</option>
                <option>B</option>
                	<option>C</option>
                  	<option>D</option>
                  </select>
            {%if raw%}

  						<select class="form-control" name='ct'>
                {%for i in raw%}
  							<option>{{i.Teacher_Name}}</option>

            {%endfor%}
    {%endif%}
  						</select>


					</div>
					<input type="text"  name="Number" placeholder="Phone Number" required="" />
					<input type="submit" value="Submit">
				</form>
			</div>
		</div>
	</div>
</div>
</section>
<script src="{% static 'rk/js/scripts.min.js'%}"></script>
<script src="{% static 'rk/js/custom.js' %}"></script>

</body>
</html>
